.customquiz {
  margin: 50px auto;
}

#ground {
  position: absolute;
  top: 400px;
  width: 80%;
  background-color: green;
  border-style: solid;
  border-color: green;
  height: 200px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  color:#000000;
  font-family:Arial;
  font-size:72px;
  padding:10px 31px;
}

/*Prebuilt Styles*/
.buttonStyle {
  background-color:#007dc1;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:10px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
